<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--遊戲主程式下載位置-->
    <add key="gameUrl" value="https://googledrive.com/host/0B6KzAYjzN_vra0s2TW9OQXRpSzQ"/>
    <!--新建 0B6KzAYjzN_vraG0tSnNuUXdNVlk-->
    <!--原始 0B6KzAYjzN_vrbGF2RGZJOTFCN0E-->
    <!--自解 0B6KzAYjzN_vra0s2TW9OQXRpSzQ-->

    <add key="gameDataUrl" value="https://docs.google.com/spreadsheets/export?id=11RyHZFxdE3Eu2cpK_Np5Rt96I17ajPULWlD_gBUdZ4Y"/>
    

    <add key="gameResoureName" value="20eGirls.exe"/>

    <!--遊戲主程式路徑-->
    <add key="gamePath" value="20eGirls"/>

    <!--遊戲執行檔路徑-->
    <add key="gameExePath" value="20eGirlsBin"/>
    
    <!--遊戲執行檔名稱-->
    <add key="gameExeName" value="20eGirls.exe"/>

    <add key="gameMediaPath" value="20eGirlsMedia"/>

    <add key="gameBackupPath" value="Backup\"/>

    <add key="gameDataName" value="Default.txt"/>
    


  </appSettings>
</configuration>
